<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.esgi.myratp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/iconeratp"
        android:label="MyRATP"
        android:theme="@style/AppTheme" >

        <!-- Splash screen -->
        <activity
            android:name="com.esgi.myratp.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.esgi.myratp.MainActivity"
            android:screenOrientation="portrait"
            android:label="Liste des stations" >
        </activity>
        <activity
            android:name="com.esgi.myratp.Update_station"
            android:screenOrientation="portrait"
            android:label="Modifier une station" >
        </activity>
        <activity
            android:name="com.esgi.myratp.Filter_station"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_filter_station" >
        </activity>
        <activity
            android:name="com.esgi.myratp.Search"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_search" >
        </activity>
    </application>

</manifest>
